@media screen and (max-width: 375px) {
    a:link {
        text-decoration: none;
        color: black;

    }

    a:visited {
        color: black;
    }

    a:hover {
        color: gray;
    }

    table {
        border: 3px solid #F25C62;
        width: 100%;
        text-align: center;
    }

    #list {
        margin-top: 90%;
        position: relative;


    }
}