
.earth {
    margin: 0 auto;
}
.inviting-blocks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.inspired {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.inviting {
    margin: 20px 0;
    color: #BBBBBB;
    font-size: 18px;
    text-align: center;
}

.rectangle {
    margin: 0 auto;
    height: 2px;
    width: 20px;
    background-color: #F25C62;
}
.dots {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: 0 auto;
}
.dot {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 4px;
    border: 2px solid #ffffff;
    background-color: #BBBBBB;
    border-radius: 50%;
}

.dot:hover {
    transition: all 1s ease-out 0s;
    background-color: #F25C62;
    border-color: #F25C62;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin:  24px;
}

.button {
    text-decoration: none;
    padding: 15px ;
    font-weight: 600;
    text-align: center;
    color: #ADADAD;
    transition: all 1s ease-out 0s;
}
.signInButton {
    margin:  2px 20px 20px ;
    background-color: #F25C62;
    color: #ffffff;
    border-radius: 15px;
}

.facebookButton {
    margin:  20px;
    background-color: #4267B1;
    color: #ffffff;
    border-radius: 15px;
}

.button:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 15px;
}
.signInButton:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    background-color: #F25C62;
}
.facebookButton:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    background-color: #4267B1;
}

.footer {
    background: #F7F7F7;
    flex: 0 0 auto;
}